body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

h1 {
    font-size: 36px;
    margin-bottom: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 15px 30px;
    margin: 0 10px;
    font-size: 2px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(120deg, #2ecc71, #7ad109);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background: linear-gradient(120deg, #2bc777, #0049e5, #bb1c1c);
}
