* {
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.container {
    width: 700px;
    height: 1000px;
    margin: 0 auto;
}
.head {
    margin-top: 0px;
}
.head .head-img {
    width: 70%;
    display: block;
    margin: 10px auto;
}
.assignment {
    text-align: center;
    margin-top: 20px;
    padding-left: 10px;
}

.assignment .templete-field {
    text-align: center;
    width: 90%;
    height: 50px;
    font-weight: 600;
    resize: inherit;
    font-size: 25px;
    margin-top: 20px;
}
.assignment .assignment-text .templete-text {
    font-family: "Times New Roman", Times, serif;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    color: black;
    margin: 0px auto -20px auto;
}
.course-code {
    display: flex;
    padding-left: 10px;
}
.course-title {
    display: flex;
    padding-left: 10px;
    margin-top: -15px;
    margin-bottom: 50px;
}
.submitted-to {
    margin-top: -20px;
    margin-left: 5px;
}
.submitted-to .submitted-to-text {
    font-size: 30px;
    margin-bottom: 15px;
}
.submitted-to-context {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}
.submitted-to-context input {
    margin: 5px;
    padding: 5px;
    height: 34px;
}
.submitted-to-context p {
    margin-left: 8px;
    margin-top: 6px;
}
.submitted-by {
    margin-top: -20px;
    margin-left: 5px;
    margin-bottom: 40px;
}
.submitted-by-context {
    padding-left: 8px;
}
.submitted-by .submitted-by-text {
    font-size: 30px;
    margin-bottom: 15px;
}
.submitted-by-context span {
    height: 45px;
}
.submitted-by-context span p,
.code-text,
.title-text {
    font-weight: 700;
}
.by {
    display: flex;
}

/* Field CSS */
.course-code .field {
    margin-left: 15px;
    box-sizing: border-box;
    width: 75%;
}
.course-title .field {
    margin-left: 18px;
    width: 75%;
}
.by .by-name {
    width: 80%;
}
.by .by-id {
    width: 90%;
}
.by .by-section {
    width: 50%;
}
.by .by-depertment {
    width: 60%;
}
.field,
.by {
    border: none;
    align-items: center;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    margin-left: 5px;
    background: transparent;
}
.field::placeholder {
    color: #8f8f92;
}

/* Font */
.submitted-by-text,
.submitted-to-text {
    font-family: "sans-serif";
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

#btn {
    padding: 10px 30px;
    border: none;
    color: white;
    background: linear-gradient(to right, #0300ba, #219ff3);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: block;
    margin: 50px auto;
}
#btn:hover {
    transform: scale(1.05);
}
footer p {
    margin-top: 100px;
    text-align: center;
    font-size: 15px;
}
footer a {
    text-decoration: none;
    font-size: 15px;
    color: red;
}
.submit {
    position: relative;
}

.submit .watermark {
    position: absolute;
    top: -5%;
    left: 5%;
    right: 0;
    z-index: -1; /* Ensure the watermark is behind other elements */
    opacity: 0.15; /* Adjust the opacity as needed */
    pointer-events: none; /* Ensure the watermark doesn't interfere with mouse events */
    width: 90%;
    height: 90%;
}

.submitted-to {
    position: relative; /* Ensure the submitted-to div is a positioned element */
}

@media print {
    #footer {
        display: none;
    }
}
